name: CI

on:
    push:
        branches:
            - main
            - dev
    workflow_dispatch:
    pull_request:
        branches:
            - main

jobs:
    Build-Test:
        runs-on: ubuntu-24.04
        strategy:
            fail-fast: true
            matrix:
                node: [16, 18]
                os: [ubuntu-24.04, windows-2022]

        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: ${{ matrix.node }}
                  cache: "npm"
                  cache-dependency-path: package-lock.json
            - name: Install dependencies
              run: npm ci

            - name: Run tests
              run: npm run test

            - name: Create artifact report file
              run: |
                touch test-report-${{ matrix.os }}-${{ matrix.node }}.json && "echo file created"
                echo "{\"tests\": []}" >> test-report-${{ matrix.os }}-${{ matrix.node }}.json
                echo "Generated by CI job on $(date)" >> test-report-${{ matrix.os }}-${{ matrix.node }}.json
            - name: Upload artifact
              uses: actions/upload-artifact@v4
              with:
                  name: test-report
                  path: test-report-${{ matrix.os }}-${{ matrix.node }}.json
    lint_code:
        needs: Build-Test
        runs-on: ubuntu-24.04
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Set up Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 16
                  cache: "npm"
                  cache-dependency-path: package-lock.json
            - name: Install dependencies
              run: npm ci
            - name: Run lint
              run: npm run lint
            - name: output success
              if: success()
              run: echo "Linting passed"
            - name: Notify on failure
              if: failure()
              run: echo "Linting failed!"
    